[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-cors = "*"
sqlalchemy = "*"
numpy = "*"
pandas = "*"
requests = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
scikit-learn = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.7"
